@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Playwrite+US+Trad:wght@100..400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Geist", sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
}

:root {
}

body.dark {
}


.border{
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    position: absolute;
}

.border-container{
      display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #ececec;
    z-index: 9;
}

.border-text{
      position: absolute;
    left: 70%;
    z-index: 99;
    background: #ededed;
    padding: 0px 5px;
    border-radius: 5px;
}
.totalCount{
      position: absolute;
    left: 78.4%;
    z-index: 999;
    background: #ededed;
    padding: 0px 4px;
    border-radius: 5px;
}



.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
}

.navbar {
  width: 700px;
  height: 60px;

  margin: auto;

  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 100;

  will-change: width;
}

/* @media (max-width: 767px) {

    .navbar {
        width: calc(100% - 24px);
    }
} */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.logo-img {
  width: 30px;
  height: 30px;
}
.logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  padding: 10px 14px;
  background: #ececec;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

ul li a {
  color: black;
  font-size: 14px;
}

/* HOME */
ul li:nth-child(1).active-li {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

/* COMPONENTS */
ul li:nth-child(2).active-li {
  border-radius: 12px;
}

/* TEMPLATES */
ul li:nth-child(3).active-li {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.hiddennav {
  width: 100px;
  min-height: 36px;
  border-radius: 20px;
  background: #f2f2f2;

  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  padding: 6px 10px;

  overflow: hidden;
  transition: all 0.3s ease;
}

.firstvisible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menuText h3 {
  font-size: 14px;
}

.menuIcon {
  position: relative;
}

.menuIcon i {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  padding-right: 12px;
}

i.menu {
  opacity: 1;
  pointer-events: auto;
}

i.cross {
  opacity: 0;
  pointer-events: none;
}

.menuIcon.activeMenu i.cross {
  opacity: 1;
  pointer-events: auto;
}

.menuIcon.activeMenu i.menu {
  opacity: 0;
  pointer-events: auto;
}

.toggleBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #eeeeee;
  cursor: pointer;
}

.toggleBtn i {
  position: absolute;
  transition: all 0.3s ease;
}

i.sun {
  opacity: 0;
  pointer-events: none;
  filter: blur(8px);
  rotate: 90deg;
}

i.moon {
  opacity: 1;
  pointer-events: auto;
}

.toggleBtn.active i.sun {
  opacity: 1;
  pointer-events: auto;
  filter: blur(0px);
  rotate: 0deg;
}
.toggleBtn.active i.moon {
  opacity: 0;
  pointer-events: auto;
}

.badge {
  margin-top: 48px;
}

.visible-badge {
  width: 150px;
  background: #f2f2f2;
  border-radius: 16px;
  padding: 2px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.badge-text {
  font-size: 12px;
  color: #000;
}

.badge-count {
  background-color: #76bdff;
  border-radius: 8px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge-count span {
  color: #fff;
  font-size: 12px;
}

.hidden-badge {
  opacity: 0;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Geist", sans-serif;
}

.hero-text h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  font-size: 48px;
}

h1 .interFace {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.face {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: inset 0px 2px 12px #cfcfcf;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: black;
  padding: 2px;
}

.eyes {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  gap: 5px;
}

.eyeball {
  width: 6px;
  height: 12px;

  background: #fff;

  border-radius: 16px;

  transform-origin: center center;

  will-change: transform;
}

.twoSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 6px;
  gap: 8px;
}

.hero-text .italic {
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  color: #0048ff;
  font-weight: 400;
  height: auto;
  font-size: 44px;
  padding-left: 5px;
  padding-bottom: 8px;
}

.hero-text p {
  width: 400px;
  margin: auto;
  text-align: center;
  color: #bdbdbd;
  margin-top: 16px;
  line-height: 22px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 28px;
}

.buttons a {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}
.githubStar {
  background-color: #ededed;
  color: #000;
  transition: all 0.3s ease;
  scale: 1;
}

.githubStar:hover {
  background-color: #e6e6e6;
}

.browseAll {
  background: #0048ff;
  color: #fff;
  box-shadow: inset 0px 2px 8px #ffffff;
  transition: all 0.3s ease;
}

.browseAll:hover {
  background: #0048ff;
  box-shadow:
    inset 0px 1.5px 8px #fffffff1,
    inset 0px -1px 8px #fffffff1;
  outline: 3px solid #e8e8ff;
}

/* COMPONENTS */

#components {
  width: 1000px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 10;
  margin: 100px auto;
}

.components-text{
  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.components-text h3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
    color: #d5d5d5;
    font-weight: 500;
}


h3 span{
width: 10px;
    height: 10px;
    background-color: #f1f1f1;
}


.components-group {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.grid {
  width: 100%;

  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 12px;
}

.component-card {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  overflow: hidden;
  padding: 6px;
  border-radius: 14px;
  cursor: pointer;
}

#viewAllcompo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  background-color: #0048ff;
}

#viewAllcompo:hover .seeAllText {
  /* transform: translateY(-5px); */
  padding: 0px 12px;
}

#viewAllcompo:hover .cards h1 {
  text-shadow: 0px 18px 5px #93b2ff;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #4177ff;
  width: 100%;
  height: 50%;
  border-radius: 8px;
  box-shadow: 0px 2px 8px #4177ff;
  border: 1px solid #6a94ff;
}

.cards h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a5beff;
  text-shadow: 0px 18px 16px #93b2ff;
  transition: all 0.25s ease-out;
}

.seeAllText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all 0.25s ease-out;
}

.seeAllText h3 {
  color: white;
  font-family: "Inter Tight", sans-serif;
}

.seeAllText i {
  color: #fff;
  rotate: -45deg;
}

.component-video {
  width: 100%;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  background: #e7e7e7;
  border-radius: 8px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.component-video video {
  width: 100%;
  height: 100%;

  display: block;

  object-fit: cover;
}

.component-details {
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 3px;
}

.component-card:hover .cardArrow{
    rotate: -45deg;
}

.component-details .cardArrow{
  transition: all 0.25s ease-out;
  font-size: 20px;
}

.detailsTexts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
  flex-direction: column;
}

.component-details h3 {
  margin: 0;

  font-size: 14px;
  font-weight: 500;

  color: #111;
}

.component-details p {
  margin: 0;

  font-size: 12px;

  color: #b8b8b8;
}

.component-details span {
  margin-top: 4px;

  font-size: 12px;

  color: #111;
}

@media (max-width: 1100px) {
  #components {
    width: 100%;
  }
  .components-group {
    width: calc(100% - 32px);
  }

  .grid {
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 920px) {
  #components {
    width: 100%;
  }

  #components a {
    top: 101%;
  }

  .components-group {
    width: calc(100% - 30px);
  }

  .grid {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 735px) {
  .navbar {
    width: calc(100% - 24px);
    height: 52px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 9px 12px;

    border-radius: 18px;
  }

  .list-item {
    display: none;
  }

  .hiddennav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .toggleBtn {
    display: none;
  }

  .logo {
    flex-shrink: 0;
  }

  .hiddennav {
    margin-left: auto;
    margin-right: 10px;
  }

  .hero-text h1 {
    font-size: 38px;
  }

  .hero-text .italic {
    font-size: 38px;
    font-family: "Playwrite US Trad", cursive;
  }
}

@media (max-width: 600px) {
  .hero-text h1 {
    font-size: 32px;
  }

  .hero-text .italic {
    font-size: 32px;
    font-family: "Playwrite US Trad", cursive;
  }

  .hiddennav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .firstvisible {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #components {
    height: 100%;

    align-items: flex-start;
  }

  #components a {
    top: 101%;
  }

  .components-group {
    width: calc(100% - 24px);

    /* padding-top: 30px; */
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);

    gap: 10px;
  }

  .component-video {
    aspect-ratio: 3 / 4;
  }
}

@media (max-width: 435px) {
  .hero-text h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
  }

  .hero-text p {
    font-size: 14px;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 16px;
  }

  h1 .interFace {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  h1 .twoSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  .face {
    width: 35px;
    height: 35px;
  }

  .eyeball {
    width: 5px;
    height: 10px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    margin-top: 28px;
    width: 100%;
  }
  .buttons a {
    width: 100%;
  }
}



/* ========================================
   PAGE LOAD ANIMATION
======================================== */

/* Initial hidden state */

.navbar,
.badge,
.hero-text h1,
.hero-text p,
.hero-text .buttons,
.components-text h2,
.component-card {
    opacity: 0;
    filter: blur(12px);
}


/* Navbar */

.navbar {
    transform: translateY(5px) scale(0.96);
}


/* Badge */

.badge {
    transform: translateY(20px);
}


/* Main headline */

.hero-text h1 {
    transform: translateY(35px) scale(0.97);
}


/* Paragraph */

.hero-text p {
    transform: translateY(25px);
}


/* CTA */

.hero-text .buttons {
    transform: translateY(25px);
}

/* Components */

.components-text h3{
  transform: translateY(30px) scale(0.96);
  opacity: 0;
}

.component-card {
    transform: translateY(35px) scale(0.96);
}